@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* font-family: Arial, Helvetica, sans-serif; */
  background: linear-gradient(to right, #000000,#232323, #737373, #737373, #737373);
}

html {
  scroll-behavior: smooth;
}
/* .hero-div{
 display: flex;  
 flex-direction: column;  
 overflow: hidden; 
} */
.hero-slide {
  margin-top: 30px;
  /* margin-bottom: 30px; */
  transform: translateX(-30%); /* Start from left */
  animation: slideInFromLeft 3s forwards;
}

@media (max-width: 768px) {
  .hero-slide {
    animation: slideInFromLeft 1.5s forwards;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('/fonts/GlacialIndifference-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.glacial-font {
  font-family: 'Glacial Indifference', sans-serif;
}

