@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero-div{
  display: flex;  
 flex-direction: column;  
 overflow: hidden; 


}
.hero-slide{
margin-top:  50px;

transform: translateX(100%); /* Start off-screen */
animation: slideIn 3s forwards;
}
@keyframes slideIn {
0%{
  transform: translateX(100%);
  opacity:0
}
100%{
  transform: translateX(0%);
  opacity:1
}
}


